$base-font-size: 16px;
$base-font-family: 'OpenSans';
$base-font-color: #333333;
$light-background: #ffffff;
$grey-background: #f7f7f7;
$primary-color: #a65cf0;
$primary-light-color: #c998fb;
$primary-shade-color: #7033ac;
$pink-violet-color: #ebd1ff;
$pink-light-color: #f8efff;
$secondary-color: #ff862f;
$secondary-light-color: #ffbd59;
$secondary-shade-color: #bb370e;
$bone-color: #fff5d1;
$grey-color: #999999;
$grey-light-color: #f6f6f6;
$grey-shade-color: #666666;
$md-grey-color: #eaeaea;
$gold-color: #d5b986;
$pagination-width: 64px;
$pagination-width-mobile: 42px;
$navigation-width: 38px;
$green-input: #b8ec64;
$red-input: #ff6972;
$lime-color: #daffd1;
$bone-color: #fff5d1;










$dark-background: #202020;
$light-text: #ffffff;
$grey-text: #cacaca;
$hover-color: #ff6e30;
$focus-background: #bc572b;
$active-color: #ce4307;
$btn-color: #ff6e30;
$form-text: #999999;
$error-color: #ff3030;
