extends layout/app 

block page
  include chunk/header 
  
  main.main
    include chunk/hero
    include chunk/special
    include chunk/reiting
    include chunk/banner
    include chunk/categories
    include chunk/useful
    include chunk/connect
  include chunk/footer
  include chunk/modal


