.collaboration {
  margin-bottom: 64px;

  @media (max-width:1024px) {
    margin-bottom: 60px;
  }

  @media (max-width:768px) {
    margin-bottom: 66px;
  }

  @media (max-width: 600px) {
    margin-top: 28px;
    margin-bottom: 70px;
  }


  &__section {
    margin-top: 29px;
    margin-bottom: 32px;

    @media (max-width: 600px) {
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
  &__title {
    margin-bottom: 32px;

    @media (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 26px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    @media (max-width: 600px) {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  &__text {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: $grey-shade-color;

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &-provider {
    &__text {
      width: 66%;

      @media (max-width: 1024px) {
        width: 88%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &-bonus {
    &__text {
      width: 48%;
      padding-left: 36px;
      line-height: 24px;
      margin-bottom: 12px;

      @media (max-width: 600px) {
        line-height: 21px;
      }
      
      &:last-of-type {
        margin-top: 12px;
        @media (max-width: 600px) {
          margin-top: 7px;
        }
      }

      

      &--one {
        background-image: url('../img/svg/bonus1.svg');
        background-size: 25px 25px;
        background-position: top left;
        background-repeat: no-repeat;
      }

      &--two {
        background-image: url('../img/svg/bonus2.svg');
        background-size: 25px 25px;
        background-position: top left;
        background-repeat: no-repeat;
      }

      &--tree {
        background-image: url('../img/svg/bonus3.svg');
        background-size: 25px 25px;
        background-position: top left;
        background-repeat: no-repeat;
      }

      @media (max-width: 1024px) {
        width: 65%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-benefit {
    &__subtitle {
      margin-bottom: 16px;
      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
    &__head {
      margin: 0;
      margin-bottom: 12px;
      font-family: 'OpenSans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $secondary-color;

      @media (max-width: 768px) {
        margin-bottom: 14px;
      }

      @media (max-width: 600px) {
        margin-bottom: 12px;
      }
    }

    &__text {
      width: 66%;
      margin-bottom: 13px;

      @media (max-width: 1024px) {
        width: 89%;
      }

      @media (max-width: 768px) {
        width: 99%;
      }
    }
  }

  &-guarantee {
    &__list {
      width: 63%;
      list-style-type: none;
      counter-reset: num;
      padding: 0 0 0 28px;
      margin: 0;
      margin-bottom: 36px;
	    font-size: 18px;

      @media (max-width: 1024px) {
        width: 88%;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 32px;
      }

      @media (max-width: 600px) {
        margin-bottom: 28px;
      }
    }

    &__item {
      position: relative;
      margin:0;

      &::before {
        content: counter(num) '.'; 
        counter-increment: num;
        display: inline-block;	
        position: absolute;
        top: 0px;
        left: -36px;
        width: 20px;    
        color: $secondary-color;
        text-align: right;
      }

      &:not(:last-child){
        margin-bottom: 13px;
        @media (max-width: 1024px) {
          margin-bottom: 12px;
        }

        @media (max-width: 390px) {
          margin-bottom: 10px;
        }

        // @media (max-width: 1024px) {
        //   margin-bottom: 10px;
        // }
      } 
    }

    &__varning {
      width: 50%;
      margin: 0;
      padding: 20px 0 30px 110px;
      font-family: 'OpenSans', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      background-image: url('../img/pencil.png');
      background-repeat: no-repeat;
      background-position: top left;

      @media (max-width: 1024px) {
        width: 65%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        width: 79%;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 0 0px 50px;
        background-size: 36px 54px;
        background-position: center left;
      }
    }
  }
}
