.footer {
  &__top {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: $md-grey-color;

    @media (max-width: 1023px) {
      padding-bottom: 25 px;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 240px;
    @media (max-width: 1500px) {
      max-width: 187px;
    }

    @media (max-width: 1023px) {
      max-width: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }

    @media (max-width: 610px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__social {
    margin: 0;
    margin-top: 25px;

    @media (max-width: 1023px) {
      margin-top: 0;
      margin-right: -3px;
    }

    @media (max-width: 610px) {
      margin-top: 18px;
    }
  }

  &__right {
    display: grid;
    min-width: 843px;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    justify-items: end;

    @media (max-width: 1500px) {
      min-width: 733px;
    }

    @media (max-width: 1023px) {
      min-width: 320px;
      width: 100%;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 16px;
    }

    @media (max-width: 650px) {
      min-width: 280px;
      grid-template-columns: repeat(2, 1fr);
      flex-wrap: wrap;
      justify-items: start;
      row-gap: 24px;
    }
  }

  &__menu {
    grid-column: span 2;

    @media (max-width: 650px) {
      grid-column: span 1;
    }

    &:nth-child(4n+1) {
      justify-self: start;

      @media (max-width: 650px) {
        grid-row: 1;
      }
    }

    &:nth-child(4n+2) {
      justify-self: center;

      @media (max-width: 650px) {
        justify-self: start;
        grid-row: 1;
      }
      
    }

    &:nth-child(4n+3) {
      justify-self: center;

      @media (max-width: 650px) {
        justify-self: start;
        grid-row: 2;
      }
    }
  }

  &__title {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -5px;
  }

  &__link {
    padding: 0 5px;
    text-decoration: none;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $grey-color;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      color: $primary-shade-color;
      background-color: $pink-violet-color;
    }

    &:active {
      color: $primary-shade-color;
      background-color: transparent;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    color: $grey-color;
    font-size: 14px;
  }

  &__copyright {
    position: relative;
    padding-right: 22px;

    &::after {
      content: '\24C7';
      font-size: 12px;
      position: absolute;
      top: 1px;
      width: 5px;
      height: 5px;
    }
  }
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @media (max-width: 1023px) {
    flex-wrap: nowrap;
  }

  &__item {
    display: inline-block;

    &:not(:first-child):not(:nth-child(5n+1)) {
      margin-left: 12px;
    }

    @media (max-width: 1023px) {
      margin-left: 10px;

      @media (max-width: 650px) {
        margin-left: 0;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: $grey-color;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      color: $light-background;
      background-color: $primary-light-color;
    }

    &:active {
      color: $primary-shade-color;
      background-color: transparent;
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
  }
}