.hero {
  margin-top: 36px;

  @media (max-width: 1024px) {
    margin-top: 30px;
  }

  @media (max-width: 600px) {
    padding-bottom: 35px;
  }

  &__swiper {
    height: auto;
    position: relative;
  }

  &__wrapper {
    height: 100%;
  }

  &__slide {
    height: auto;

    &--one {
      background-image: url('../img/hero1-1920.jpg');
      background-size: cover;

      @media (max-width: 1280px) {
        background-image: url('../img/hero1-1024.jpg');
      }

      @media (max-width: 768px) {
        background-image: url('../img/hero1-768.jpg');
      }

      @media (max-width: 390px) {
        background-image: url('../img/hero1-320.jpg');
      }
    }

    &--two {
      background-image: url('../img/hero2-1920.jpg');
      background-size: cover;

      @media (max-width: 1280px) {
        background-image: url('../img/hero2-1024.jpg');
      }

      @media (max-width: 768px) {
        background-image: url('../img/hero2-768.jpg');
      }

      @media (max-width: 390px) {
        background-image: url('../img/hero2-320.jpg');
      }
    }

    &--three {
      background-image: url('../img/hero3-1920.jpg');
      background-size: cover;

      @media (max-width: 1280px) {
        background-image: url('../img/hero3-1024.jpg');
      }

      @media (max-width: 768px) {
        background-image: url('../img/hero3-768.jpg');
      }

      @media (max-width: 390px) {
        background-image: url('../img/hero3-320.jpg');
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 42px;

    @media (max-width: 1024px) {
      padding-bottom: 84px;
      padding-left: 36px;
    }

    @media (max-width: 768px) {
      padding-top: 84px;
      padding-bottom: 82px;
    }

    @media (max-width: 600px) {
      position: relative;
    }

    @media (max-width: 390px) {
      padding-top: 28px;
      padding-bottom: 128px;
      padding-left: 16px;
    }
  }

  &__title{
    display: block;
    width: 40%;
    margin: 0;
    margin-bottom: 50px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $grey-color;

    @media (max-width: 980px) {
      width: 60%;
    }

    @media (max-width: 600px) {
      margin-bottom: 0;
      padding-left: 15px;
      font-size: 6.3vw;
      line-height: 140%; 
    }

    &--light {
      color: $light-background;
    }
  }

  &__button {
    @include primary-btn;
    display: block;

    @media (max-width: 1024px) {
      padding: 18px 48px;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media (max-width: 600px) {
      margin-top: 30px;
      padding: 16px 48px;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

.open-burger ~ .main > .hero {
  @media (max-width: 768px) {
    margin-top: 125px;
  }

  @media (max-width: 390px) {
    margin-top: 85px;
  }
}

.hero-bullit {
  border: none;
  padding: 0;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.hero-bullit svg {
  height: 20px;
  transform: rotate(-90deg);
  width: 20px;
}

.hero-bullit__background {
  fill: none;
  stroke: $light-background;
  stroke-width: 3px;
}

.hero-bullit__progress {
  fill: none;
  stroke: $light-background;
  stroke: $secondary-color;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 3px;
}

.hero-bullit.active .hero-bullit__progress {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 3s linear;
}