.similar {
  padding-top: 35px;
  padding-bottom: 66px;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }

  @media (max-width: 768px) {
    padding-top: 18px;
  }

  @media (max-width: 600px) {
    padding-top: 48px;
    padding-bottom: 118px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;

    @media (max-width: 600px) {
      position: relative;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__navigation {
    @media (max-width: 600px) {
      position: absolute;
      top: 340px;
    }

    @media (max-width: 390px) {
      top: 345px;
    }
  }

  &__card {
    box-sizing:border-box;

    @media (max-width: 600px) {
      padding-bottom: 14px;
    }
    
  }

  &__reiting {
    top: 25px;

    @media (max-width: 1024px) {
      top: 29px;
    }

    @media (max-width: 600px) {
      top: 20px;
    }
  }

  &__top {
    min-height: 190px;

    @media (max-width: 1024px) {
      min-height: 90px;
    }

    @media (max-width: 768px) {
      min-height: 110px;
    }

    @media (max-width: 600px) {
      min-height: 105px;
    }
  }

  &__picture {
    @media (max-width: 1280px) {
      min-height: 190px;
      align-items: flex-end;
    }

    @media (max-width: 768px) {
      min-height: 190px;
    }

    @media (max-width: 600px) {
      min-height: 62px;
      max-height: 70px;
      object-fit: contain;
    }
  }


  &__bottom {
    padding-top: 5px;

    @media (max-width: 1024px) {
      padding-top: 5px;
    }

    @media (max-width: 768px) {
      padding-top: 12px;
    }

    @media (max-width: 600px) {
      padding: 2px 0px;
    }
  }

  &__button {
    @media (max-width: 600px) {
      padding: 6px 20px;
    }
  }

  &__cardtitle {
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }

  &__model {
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__name {
    @media (max-width: 768px) {
      margin-top: 0px;
    }
    @media (max-width: 600px) {
      margin-top: 0px;
      font-size: 16px;
      line-height: 20px;
    }
    @media (max-width: 390px) {
      -webkit-line-clamp: 2;
      
    }
  }

  &__price {
    @media (max-width: 600px) {
      margin-bottom: 14px;
    }
  }
    
}

.similar__picture img {
  @media (max-width: 600px){
    max-height: 75px;
  }
}