.similar {
  padding-top: 32px;
  padding-bottom: 73px;

  @media (max-width: 870px) {
    padding-top: 14px;
    padding-bottom: 69px;
  }

  @media (max-width: 610px) {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;

    @media (max-width: 610px) {
      position: relative;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__navigation {
    @media (max-width: 610px) {
      position: absolute;
      top: 370px;
    }

    @media (max-width: 370px) {
      top: 350px;
    }
  }

  &__card {
    box-sizing:border-box;
    // height: 420px;
    // max-width: 296px;

    @media (max-width: 1330px) {
      // max-width: 366px;
    }

    @media (max-width: 1024px) {
      // max-width: 496px;
    }

    @media (max-width: 870px) {
    }

    @media (max-width: 610px) {
    }
  }

  &__reiting {
    top: 25px;

    @media (max-width: 610px) {
      top: 20px;
    }
  }

  &__top {
    min-height: 190px;

    @media (max-width: 1024px) {
      min-height: 90px;
    }

    @media (max-width: 768px) {
      min-height: 90px;
    }

    @media (max-width: 610px) {
      min-height: 105px;
    }
  }

  &__picture {
    @media (max-width: 1280px) {
      min-height: 190px;
      align-items: flex-end;
    }

    @media (max-width: 768px) {
      min-height: 180px;
    }

    @media (max-width: 610px) {
      min-height: 62px;
      max-height: 70px;
      object-fit: contain;
    }
  }


  &__bottom {
    @media (max-width: 560px) {
      padding: 0 2px;
    }
  }

  &__button {
    @media (max-width: 610px) {
      padding: 6px 20px;
      margin-top: 13px;
    }
  }

  &__cardtitle {
    @media (max-width: 610px) {
      margin-bottom: 10px;
    }
  }

  &__model {
    @media (max-width: 610px) {
      font-size: 16px;
    }
  }

  &__name {
    @media (max-width: 768px) {
      margin-top: 0px;
    }
    @media (max-width: 610px) {
      margin-top: 0px;
      font-size: 16px;
      line-height: 20px;
    }
    @media (max-width: 410px) {
      -webkit-line-clamp: 2;
      
    }
  }

  &__price {
    @media (max-width: 610px) {
      margin-bottom: 3px;
    }
  }
    
}

.similar__picture img {
  @media (max-width: 610px){
    max-height: 75px;
  }
}