section.breadcrumps
  .container.breadcrumps__container
    ul.breadcrumps__list
      li.breadcrumps__item
        a.breadcrumps__link(href="#") Главная 
      li.breadcrumps__item
        a.breadcrumps__link(href="#") Каталог 
      li.breadcrumps__item
        a.breadcrumps__link(href="#") Диваны 
      li.breadcrumps__item Прямые диваны