section.connect(id="connect")
  .container.connect__container
    h2.title.connect__title Мы всегда вам рады!
    p.connect__text Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
      button.connect__tooltip(id="connect__tooltip") ? 
    form.connect__form.form(action="#" method="post" name="form" enctype="multipart/form-data")
      label.form__label
        input.form__input( id="name" name="name" type="text" placeholder="Как вас зовут?" data-validate-field="name")          
      label.form__label
        input.form__input( id="tel" name="tel" type="tel" placeholder="Ваш телефон" data-validate-field="tel")
      label.form__label
        input.form__input( id="email" name="email" type="email" placeholder="Ваш e-mail" data-validate-field="email" data-validate-rules="email")
      button.form__btn(type="submit") Отправить
      label.checkbox
        input.checkbox__input(id="check" type="checkbox" name="check" data-validate-field="check")
        span.checkbox__text Принимаю 
          a.checkbox__link(href="") пользовательское соглашение