- var categoryList = [{name: 'Диваны'}, {name: 'Кресла'}, {name: 'Пуфы'}, {name: 'Кровати'}, {name: 'Тумбы'}, {name: 'Комоды'}, {name: 'Стулья'}, {name: 'Столы'}, {name: 'Аксессуары'}]
- var saleList = [{name: 'Более 5 000'}, {name: 'Менее 5 000'}, {name: 'Не важно'}]
- var colorList = [{name: 'Коричневый'}, {name: 'Черный'}, {name: 'Бежевый'}, {name: 'Серый'}, {name: 'Белый'}, {name: 'Синий'}, {name: 'Оранжевый'}, {name: 'Желтый'}, {name: 'Зеленый'}]
.filter
  //- h2.catalog__title Каталог
  h2.filter__title Фильтровать по:
  h2.filter__title.filter__title-tablet Фильтры:
  .filter-category
    .filter__subtitle.filter-category__title Категория
    ul.filter-category__list.check.filter-list
      each item in categoryList
        li.filter-category__item.check__item
          label.check__label.filter-category__label
            input.check__input.filter-category__input(type="checkbox")
            span.check__box.filter-category__span
            span.check__text.filter-category__text= item.name
      li.check__item
        button.check__btn + ещё 12
  .filter-price
    .filter__subtitle.filter-price__title Цена
    .filter-price__wrap.filter-list
      .filter-price__range
        span.filter-price__text от
        input.filter-price__input(type="text" id="input-0")
      .filter-price__range
        span.filter-price__text до
        input.filter-price__input(type="text" id="input-1")
    .filter-price__slider(id="range-slider")
  .filter-sale
    .filter__subtitle.filter-sale__title Скидка
    ul.check.filter-sale__list.filter-list
      each item in saleList
        li.check__item.filter-sale__item
          label.check__label.filter-sale__label
            input.check__input.filter-sale__input(type="checkbox")
            span.check__box.filter-sale__span
            span.check__text= item.name
  .filter-color
    .filter__subtitle.filter-color__title Цвет
    ul.check.filter-color__list.filter-list
      each item in colorList
        li.check__item.filter-color__item
          label.check__label.filter-color__label
            input.check__input.filter-color__input(type="checkbox")
            span.check__box.filter-color__span
            span.check__text= item.name
      li.check__item
        button.check__btn + ещё 7
  .filter-banner
    img.filter-banner__img(src="img/banner-catalog.jpg", alt="кресла")
    .filter-banner__bottom
      h3.filter-banner__title Оксфорд 1950
      p.filter-banner__descr Новая коллекция изысканных кресел
      a.catalog-href.filter-banner__href(href="#")
        span.catalog-href__text.filter-banner__text В каталог
        span.catalog-href__arrow.filter-banner__arrow