-var list = [{name:"fb", label:"перейти на страницу Sitdownpls в фэйсбук", href:"#", svg: "img/sprite.svg#fb"}, {name:"vk", label:"перейти на страницу Sitdownpls вконтакте", href:"https://vk.com/chaffinch", svg: "img/sprite.svg#vk"}, {name:"instagram", label:"перейти на страницу Sitdownpls в инстаграм", href:"#", svg: "img/sprite.svg#insta"}]
footer.footer
  .footer__top
    .container.footer__container
      .footer__left
        a.footer__logo
          svg.logo__svg
          use(xlink:href="img/sprite.svg#logo")
        ul.footer__social.social
        each item in list
          li.social__item
            a.social__link(href=item.href aria-label=item.label class=item.name target="_blank")
              svg.social__svg
                use(xlink:href=item.svg)
      .footer__right
  .footer__bottom
    span.footer__copyright SDP
    span.footer__year 2011-2021
      