.modal.modal-js
  .modal__block
    button.modal-btn.modal__btn.modal__btn--js(type="button" aria-label="закрыть модальное окно")
    svg.modal-svg.modal__svg
      use(xlink:href="img/sprite.svg#slon")
    h2.modal-title.modal__title Спасибо, мы вам перезвоним!