.modal-slider.modal-js
  .modal-slider__block
    button.modal-btn.modal-slider__btn.modal-slider__btn--js(type="button" aria-label="закрыть модальное окно")
    .swiper.product-thumbslider.modal-slider__thumbslider
      .swiper-wrapper.product-thumbslider__thumbwrapper
        .swiper-slide.product-thumbslider__thumbslide
          img.product-thumbslider__thumbimg(src="img/production/big.png" alt="фото дивана")
        .swiper-slide.product-thumbslider__thumbslide
          img.product-thumbslider__thumbimg(src="img/production/1.png" alt="фото дивана")
        .swiper-slide.product-thumbslider__thumbslide
          img.product-thumbslider__thumbimg(src="img/production/2.png" alt="фото дивана")
        .swiper-slide.product-thumbslider__thumbslide
          img.product-thumbslider__thumbimg(src="img/production/3.png" alt="фото дивана")
        .swiper-slide.product-thumbslider__thumbslide
          img.product-thumbslider__thumbimg(src="img/production/4.png" alt="фото дивана")
    .modal-slider__container
      .slider-navigation.modal-slider__navigation
        button.slider-navigation__back.modal-slider__back(aria-label="Листать назад")
        button.slider-navigation__next.modal-slider__next(aria-label="Листать вперед")
      .swiper.product-slider.modal-slider__slider
        .swiper-wrapper.product-slider__wrapper
          .swiper-slide.product-slider__slide
            img.product-slider__img(src="img/production/big.png" alt="фото дивана")
          .swiper-slide.product-slider__slide
            img.product-slider__img(src="img/production/1.png" alt="фото дивана")
          .swiper-slide.product-slider__slide
            img.product-slider__img(src="img/production/2.png" alt="фото дивана")
          .swiper-slide.product-slider__slide
            img.product-slider__img(src="img/production/3.png" alt="фото дивана")
          .swiper-slide.product-slider__slide
            img.product-slider__img(src="img/production/4.png" alt="фото дивана")