.modal
  .modal__block
    button.modal__btn.modal__btn.modal__btn--js(type="button" aria-label="закрыть модальное окно")
    svg.modal__svg
      use(xlink:href="img/sprite.svg#slon")
    h2.modal__title Спасибо, мы вам перезвоним!