section.similar
  .container.similar__container
    .similar__head
      h2.title.similar__title Похожие товары
      .slider-navigation.similar__navigation
        button.slider-navigation__back.similar__back(aria-label="Листать назад")
        button.slider-navigation__next.similar__next(aria-label="Листать вперед")
    .swiper.similar__slider
          .swiper-wrapper.similar__wrapper
            .swiper-slide.card.similar__card
              .card__reiting.similar__reiting 4.5
              .card__top.similar__top
                picture.card__picture.similar__picture
                  source.card__img(srcset="img/similar/1.webp" type="image/webp")
                  img.card__img(src="img/similar/1.png" alt="фото диван")
              .card__bottom.similar__bottom
                h3.card__title.similar__cardtitle
                  span.card__name.similar__name Диван велюровый
                  span.card__model.similar__model “R-85”
                .card__price.similar__price 34 990 pуб
                button.card__button.similar__button Купить
            .swiper-slide.card.similar__card
              .card__reiting.similar__reiting 4.5
              .card__top.similar__top
                picture.card__picture.similar__picture
                  source.card__img(srcset="img/similar/2.webp" type="image/webp")
                  img.card__img(src="img/similar/2.png" alt="фото диван")
              .card__bottom.similar__bottom
                h3.card__title.similar__cardtitle
                  span.card__name.similar__name Диван флоковый
                  span.card__model.similar__model “Н-58”
                .card__price.similar__price 23 990 pуб
                button.card__button.similar__button Купить
            .swiper-slide.card.similar__card
              .card__reiting.similar__reiting 4.5
              .card__top.similar__top
                picture.card__picture.similar__picture
                  source.card__img(srcset="img/similar/3.webp" type="image/webp")
                  img.card__img(src="img/similar/3.png" alt="фото диван")
              .card__bottom.similar__bottom
                h3.card__title.similar__cardtitle
                  span.card__name.similar__name Диван велюровый
                  span.card__model.similar__model “S-44”
                .card__price.similar__price 19 990 pуб
                button.card__button.similar__button Купить
            .swiper-slide.card.similar__card
              .card__reiting.similar__reiting 4.3
              .card__top.similar__top
                picture.card__picture.similar__picture
                  source.card__img(srcset="img/similar/4.webp" type="image/webp")
                  img.card__img(src="img/similar/4.png" alt="фото диван")
              .card__bottom.similar__bottom
                h3.card__title.similar__cardtitle
                  span.card__name.similar__name Диван шиниловый
                  span.card__model.similar__model “V-43”
                .card__price.similar__price 19 990 pуб
                button.card__button.similar__button Купить
            .swiper-slide.card.similar__card
              .card__reiting.similar__reiting 4.3
              .card__top.similar__top
                picture.card__picture.similar__picture
                  source.card__img(srcset="img/similar/4.webp" type="image/webp")
                  img.card__img(src="img/similar/4.png" alt="фото диван")
              .card__bottom.similar__bottom
                h3.card__title.similar__cardtitle
                  span.card__name.similar__name Диван шиниловый
                  span.card__model.similar__model “V-43”
                .card__price.similar__price 19 990 pуб
                button.card__button.similar__button Купить

              