section.similar
  .container.similar__container
    .similar__head
      h2.title.similar__title Похожие товары
      .special__navigation.similar__navigation
        button.special__back.similar__back(aria-label="Листать назад")
        button.special__next.similar__next(aria-label="Листать вперед")
    .swiper.similar__slider
          .swiper-wrapper.similar__wrapper
            .swiper-slide.card.similar__card
              .card__reiting 4.5
              picture.card__picture
                source.card__img(srcset="img/similar/1.webp" type="image/webp")
                img.card__img(src="img/similar/1.png" alt="фото диван")
              h3.card__title.card__name Диван велюровый
              h3.card__title.card__model “R-85”
              .card__price 34 990 pуб
              button.card__button Купить
            .swiper-slide.card.similar__card
              .card__reiting 4.5
              picture.card__picture
                source.card__img(srcset="img/similar/2.webp" type="image/webp")
                img.card__img(src="img/similar/2.png" alt="фото диван")
              h3.card__title.card__name Диван флоковый
              h3.card__title.card__model “Н-58”
              .card__price 23 990 pуб
              button.card__button Купить
            .swiper-slide.card.similar__card
              .card__reiting 4.5
              picture.card__picture
                source.card__img(srcset="img/similar/3.webp" type="image/webp")
                img.card__img(src="img/similar/3.png" alt="фото диван")
              h3.card__title.card__name Диван велюровый
              h3.card__title.card__model “S-44”
              .card__price 19 990 pуб
              button.card__button Купить
            .swiper-slide.card.similar__card
              .card__reiting 4.3
              picture.card__picture
                source.card__img(srcset="img/similar/4.webp" type="image/webp")
                img.card__img(src="img/similar/4.png" alt="фото диван")
              h3.card__title.card__name Диван шиниловый
              h3.card__title.card__model “V-43”
              .card__price 19 990 pуб
              button.card__button Купить
            .swiper-slide.card.similar__card
              .card__reiting 4.3
              picture.card__picture
                source.card__img(srcset="img/similar/4.webp" type="image/webp")
                img.card__img(src="img/similar/4.png" alt="фото диван")
              h3.card__title.card__name Диван шиниловый
              h3.card__title.card__model “V-43”
              .card__price 19 990 pуб
              button.card__button Купить

              