section.special
  .container.special__container
    .special__top
      h2.title.special__title Специальные предложения
      .special__navigation
        button.special__back(aria-label="Листать назад")
        button.special__next(aria-label="Листать вперед")
    .swiper.special__swiper.special-slider-js
      .swiper-wrapper
        .swiper-slide.special__slide.card
          .card__sale - 9 000
          picture.card__picture
            source.card__img(src="img/special/special1.webp" type="image/webp")
            img.card__img(src="img/special/special1.png" alt="фото кресло салатовое")
          h3.card__title.card__name Кресло велюровое
          h3.card__title.card__model “Х-24”
          .card__price.price
            span.price__new 15 990 руб
            span.price__old 24 990 руб
          button.card__button Купить
        .swiper-slide.special__slide.special__slide--big.card
          .card__sale - 10 000
          picture.card__shema.shema
            source.shema__img(src="img/special/special2_2.webp" type="image/webp")
            img.shema__img(src="img/special/special2_2.png" alt="схема разбора дивана")
          picture.card__picture
            source.card__img(src="img/special/special2.webp" type="image/webp")
            img.card__img(src="img/special/special2.png" alt="фото диван светлый")
          h3.card__title.card__name Диван тканевый
          h3.card__title.card__model “Z-44”
          .card__price.price
            span.price__new 22 990 руб
            span.price__old 32 990 руб
          button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 600
          picture.card__picture
            source.card__img(src="img/special/special3.webp" type="image/webp")
            img.card__img(src="img/special/special3.png" alt="фото будильник")
          h3.card__title.card__name Будильник
          h3.card__title.card__model “Quartz-23”
          .card__price.price
            span.price__new 1 290 руб
            span.price__old 1 890 руб
          button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 300
          picture.card__picture
            source.card__img(src="img/special/special4.webp" type="image/webp")
            img.card__img(src="img/special/special4.png" alt="фото скульптупа голова оленя")
          h3.card__title.card__name Мини-скульптура
          h3.card__title.card__model “Oh my deer”
          .card__price.price
            span.price__new 690 руб
            span.price__old 990 руб
          button.card__button Купить
        .swiper-slide.special__slide.special__slide--big.card
          .card__sale - 10 000
          picture.card__shema.shema
            source.shema__img(src="img/special/special5_2.webp" type="image/webp")
            img.shema__img(src="img/special/special5_2.png" alt="схема разбора дивана")
          picture.card__picture
            source.card__img(src="img/special/special5.webp" type="image/webp")
            img.card__img(src="img/special/special5.png" alt="фото диван коричневый")
          h3.card__title.card__name Диван вел-флок
          h3.card__title.card__model “Z-85”
          .card__price.price
            span.price__new 22 990 руб
            span.price__old 32 990 руб
          button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 700
          picture.card__picture
            source.card__img(src="img/special/special6.webp" type="image/webp")
            img.card__img(src="img/special/special6.png" alt="фото термометр-гигрометр круглый")
          h3.card__title.card__name Термометр +
          h3.card__title.card__model гидрометр “H-18”
          .card__price.price
            span.price__new 1 390 руб
            span.price__old 2 090 руб
          button.card__button Купить
    