section.special
  .container.special__container
    .special__top
      h2.title.special__title Специальные предложения
      .slider-navigation.special__navigation
        button.slider-navigation__back.special__back(aria-label="Листать назад")
        button.slider-navigation__next.special__next(aria-label="Листать вперед")
    .swiper.special__swiper.special-slider-js
      .swiper-wrapper
        .swiper-slide.special__slide.card
          .card__sale - 9 000
          .card__top
            picture.card__picture
              source.card__img(srcset="img/special/special1.webp" type="image/webp")
              img.card__img(src="img/special/special1.png" alt="фото кресло салатовое")
          .card__bottom
            h3.card__title
              span.card__name Кресло велюровое
              span.card__model “Х-24”
            .card__price.price
              span.price__new 15 990 руб
              span.price__old 24 990 руб
            button.card__button Купить
        .swiper-slide.special__slide.special__slide--big.card
          .card__sale - 10 000
          .card__top
            picture.card__shema.shema
              source.shema__img(srcset="img/special/special2_2.webp" type="image/webp")
              img.shema__img(src="img/special/special2_2.png" alt="схема разбора дивана")
            picture.card__picture
              source.card__img(srcset="img/special/special2.webp" type="image/webp")
              img.card__img(src="img/special/special2.png" alt="фото диван светлый")
          .card__bottom
            h3.card__title
              span.card__name Диван тканевый
              span.card__model “Z-44”
            .card__price.price
              span.price__new 22 990 руб
              span.price__old 32 990 руб
            button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 600
          .card__top
            picture.card__picture
              source.card__img(srcset="img/special/special3.webp" type="image/webp")
              img.card__img(src="img/special/special3.png" alt="фото будильник")
          .card__bottom
            h3.card__title
              span.card__name Будильник
              span.card__model “Quartz-23”
            .card__price.price
              span.price__new 1 290 руб
              span.price__old 1 890 руб
            button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 300
          .card__top
            picture.card__picture
              source.card__img(srcset="img/special/special4.webp" type="image/webp")
              img.card__img(src="img/special/special4.png" alt="фото скульптупа голова оленя")
          .card__bottom
            h3.card__title
              span.card__name Мини-скульптура
              span.card__model “Oh my deer”
            .card__price.price
              span.price__new 690 руб
              span.price__old 990 руб
            button.card__button Купить
        .swiper-slide.special__slide.special__slide--big.card
          .card__sale - 10 000
          .card__top
            picture.card__shema.shema
              source.shema__img(srcset="img/special/special5_2.webp" type="image/webp")
              img.shema__img(src="img/special/special5_2.png" alt="схема разбора дивана")
            picture.card__picture
              source.card__img(srcset="img/special/special5.webp" type="image/webp")
              img.card__img(src="img/special/special5.png" alt="фото диван коричневый")
          .card__bottom
            h3.card__title
              span.card__name Диван вел-флок
              span.card__model “Z-85”
            .card__price.price
              span.price__new 22 990 руб
              span.price__old 32 990 руб
            button.card__button Купить
        .swiper-slide.special__slide.card
          .card__sale - 700
          .card__top
            picture.card__picture
              source.card__img(srcset="img/special/special6.webp" type="image/webp")
              img.card__img(src="img/special/special6.png" alt="фото термометр-гигрометр круглый")
          .card__bottom
            h3.card__title
              span.card__name Термометр +
              span.card__model гидрометр “H-18”
            .card__price.price
              span.price__new 1 390 руб
              span.price__old 2 090 руб
            button.card__button Купить
    