.swiper.product-thumbslider.production__thumbslider.production-thumbslider
  .swiper-wrapper.product-thumbslider__thumbwrapper
    .swiper-slide.product-thumbslider__thumbslide
      img.product-thumbslider__thumbimg(src="img/production/big-big.png" alt="фото дивана")
    .swiper-slide.product-thumbslider__thumbslide
      img.product-thumbslider__thumbimg(src="img/production/1-big.png" alt="фото дивана")
    .swiper-slide.product-thumbslider__thumbslide
      img.product-thumbslider__thumbimg(src="img/production/2-big.png" alt="фото дивана")
    .swiper-slide.product-thumbslider__thumbslide
      img.product-thumbslider__thumbimg(src="img/production/3-big.png" alt="фото дивана")
    .swiper-slide.product-thumbslider__thumbslide
      img.product-thumbslider__thumbimg(src="img/production/4-big.png" alt="фото дивана")
.swiper.product-slider.production__slider.production-slider
  .swiper-wrapper.product-slider__wrapper
    .swiper-slide.product-slider__slide
      img.product-slider__img(src="img/production/big.png" alt="фото дивана")
    .swiper-slide.product-slider__slide
      img.product-slider__img(src="img/production/1.png" alt="фото дивана")
    .swiper-slide.product-slider__slide
      img.product-slider__img(src="img/production/2.png" alt="фото дивана")
    .swiper-slide.product-slider__slide
      img.product-slider__img(src="img/production/3.png" alt="фото дивана")
    .swiper-slide.product-slider__slide
      img.product-slider__img(src="img/production/4.png" alt="фото дивана")