doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="./resources/inputmask.min.js", defer)
    script(src="./resources/just-validate.min.js", defer)
    script(src="./resources/choices.min.js", defer)
    script(src="./resources/swiper-bundle.min.js", defer)
    script(src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU")
    script(src="https://unpkg.com/@popperjs/core@2", defer)
    script(src="https://unpkg.com/tippy.js@6", defer)
    script(src="./js/main.js", defer)
    link( rel = "icon" href="./img/favicon/favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css")
    link(rel="stylesheet", href="./css/vendor.css")
    link(rel="stylesheet", href="./css/main.css")
    title SitDownPls
  body
    block page